.background{
    background-color: #000000;
    background-size: cover;
    height: 170vh;
}
.main-heading {
    font-size: 25px;
    font-family: Bree serif;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    padding-top: 10px;
}
.main-para{
    font-family: Bree serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    padding-top: 10px;
}
.card{
    height: 60vh;
    width: 100vw;
    background-color: #ffffff;
    margin-top: 40px;
}
.image{
    height:40vh;
    width: 30vw;
    margin-top: 40px;
    margin-left: 20vh;
}
.card-para{
    font-size: 25px;
    font-family: Bree serif;
    padding-top: 20vh;
    padding-left: 30px;
    padding-right: 60px;
}
.quato-name{
    font-size: 20px;
    font-family: Bree serif;
    padding-bottom:  90px;
    padding-left: 20vh;
    
}
.last-font{
    font-size: 15px;
    text-align: center;
    color: #ffffff;
    padding-left: 20px;
}
.margin{
    margin-left: 20px;
    margin-top: 10px;
}
